# For the WebUI
fastapi
uvicorn[standard]
anyio

# For Image & ML
opencv-python
numpy

# Special YOLOE-Multi-Prompt version of Ultralytics
git+https://github.com/ultralytics/ultralytics.git@yoloe-multi-prompt